{
  "Reporter": {
    "Organization": "Company Name",
    "OrganizationEmail": "info@example.com",
    "Domain": "example.com",
    "ContactEmail": "contact@example.com",
    "ContactName": "John Doe",
    "ContactPhone": "+1 (555) 555-5555"
  },
  "EmailReport": {
    "From": "John Doe <info@example.com>",
    "Bcc": "John Doe <info@example.com>",
    "Subject": "Test Report",
    "ReportTemplate": "myTemplate.txt",
    "AutoReport": false,
    "ReportOutputPath": "EmailReport",
  },
  "Email": {
    "SmtpServer": "smtp.example.com",
    "Port": 25,
    "Username": "username",
    "Password": "password",
    "EnableSsl": false,
  },
  "EventViewer": {
    "Enabled": true
  },
  "IpBan": {
    "Enabled": true,
    "IpBanLogFile": "logfile.txt"
  },
  "MyIpAddress": "192.168.1.1",
  "OutputPath": "xarf"
}